html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    

}
.dashboard{
    height: 90vh;
}


#navLogo {

    width: 100px;
    height: 100px;
    left: calc(50% - 100px/2 - 641px);
    top: calc(50% - 100px/2 - 398px);



}

.mynav {
    color: black;
}

.mynav li a {
    color: black;
    text-decoration: none;
    width: 100%;
    display: block;
    border-radius: 5px;
    padding: 8px 5px;
}

.mynav li a.active {
    background: rgba(0, 0, 0, 0.2);
}

.mynav li a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.mynav li a i {
    width: 25px;
    text-align: center;
}

#mainViewCard {
    background-color: rgba(46, 139, 87, 0.05);
    height: 125px;
    width: 243px;
    border-radius: 10px;
    padding: 14px, 20px, 14px, 20px;
    gap: 6px
}
